<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head> 



<header class="header">

    <div class="title">
        <h1>Datadog  vs  GCP Monitor
            <img class="logo" src="https://symbols.getvecta.com/stencil_78/21_datadog.de25ce0081.svg" alt="Datadog Logo" style="width:260px;height:60px;"/>
        </h1>
    
    
    </div>

	<nav>
        <a href="#" onClick="document.getElementById('top').scrollIntoView();">GCP</a>
        <a onClick="document.getElementById('1').scrollIntoView();">Offerings</a>
        <a onClick="document.getElementById('3rd').scrollIntoView();">Pricing</a>
        <a onClick="document.getElementById('4th').scrollIntoView();">Differentiators</a>
        <a onClick="document.getElementById('5th').scrollIntoView();">Datadog</a>
        
        <div id="indicator"></div>
    </nav>
</header>


<body>
    <div class="container" id="top">
        <video autoplay muted loop>
            <source src="{{ url_for('static', filename='GCP2.mp4') }}" type="video/mp4">
        </video>

        <div class="overlay">
            <div class="text">
                <br>
                <br>

                <h1> What is </h1>
                <h3>GCP Monitor? </h3>
                <p>GCP Native cloud monitoring platform</p>
                <br>
                
                <div id="explorebutton" onClick="document.getElementById('1').scrollIntoView();"></div>
            </div>
        </div>
    </div>
   
    
     
    <div class= "container2" id="1">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Debugger</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Traces</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Profiler</a>
            </nav>
        </div>  
        
        <img src="https://storage.googleapis.com/gweb-cloudblog-publish/original_images/Cloud_Monitoring_dashboard.gif" />
        <div class="text3black">
            <h3>Metrics</h3>
            <br>
            <br>
            <h2>Uptime Checks</h2>
            <p>
                Health and latency of services, web pages, APIs
            </p>
            <h2>Custom Metrics</h2>
            <p>
                Application specific metrics (count of returning users)
            </p>
            <h2>Log-based Metrics</h2>
            <p>
                Content count of certain log entries (count of error logs)
            </p>
            <h2>Agent Metrics</h2>
            <p>
                Installed onto VMs (AWS as well) for system level metrics.
            </p>
            

        </div>
    </div>

    <div class= "container3" id="2">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Debugger</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Traces</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Profiler</a>
            </nav>
        </div>

        <img src="https://cache.cloudsteak.com/wp-content/uploads/2020/06/pubsub-lumoPH.gif"/>
        <div class="text3black">
            <h3>Alerting</h3>
            <br>
            <br>
            <h2>Alert Policies</h2>
            <p>
                Conditions that will generate a notification (documentation, metadata) whenever that event is triggered. 
            
        
            </p>
            <h2>Error Reporting</h2>
            <p>
                Groups together error and critical level errors from application logs. Sends a summary of 
                what, where, when, and why an incident occurred. Email, PagerDuty, Pub/Sub, SMS, Hipchat, Webhooks, GCP Mobile APP


        </div>


        </div> 
    </div>

    <div class= "container4" id="3">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Debugger</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Traces</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Profiler</a>
            </nav>
        </div> 

        <img src="https://3.bp.blogspot.com/-zGTV9Wumvh4/WcRfI54uOzI/AAAAAAAAEeQ/beb4d4l-q_EweBDNhlTLaxSHXk2jWchsgCLcBGAs/s1600/debugger_demo3%2B%25281%2529.gif"/>
        <div class="text3black">
            <h3>Debugger</h3>
            <br>
            <br>
            <h2>Snapshots</h2>
            <p>
                Snapshots capture local variables and the call stack at a specific line location in your app's source code. 
            </p>
            <h2>Logpoints</h2>
            <p>
                Logpoints allow you to inject logging into running services without restarting or interfering with the normal function of the service.
            </p>
        </div>
        
    </div>

    <div class= "container5" id="4">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Debugger</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Traces</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Profiler</a>
            </nav>
        </div> 

        <img src="https://miro.medium.com/max/1838/1*Ah8YhrEneDbveLVhB-MmQQ.png"/>
        <div class="text3black">
            <h3>Traces</h3>
            <br>
            <br>
            <h2> Flame Graph </h2>
            <p>
                Latency data in ms on GCP services. Reveals requests over a timespan, clicking onto the individual requests
                show the underlying Logs.
                
                Filter by services or requests to see how latency has chanced over time.
                
            </p>

        </div>
    </div>

    <div class= "container6" id="5">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Debugger</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Traces</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Profiler</a>
            </nav>
        </div>

        <img src="https://storage.googleapis.com/gweb-cloudblog-publish/original_images/1_Interactive_queries_with_Log_Fields.gif"/>
        <div class="text3black">
            <h3>Logs</h3>
            <br>
            <br>
            <h2>Query Builder</h2>
            <p>
                Menu selector query or
                write queries to filter logs.
            </p>
            <h2>Query Results</h2>
            <p>
                All GCP services are sent to the Cloud Logging API which is then filtered by the Log Router
                to sort the logs in Log Storage, Cloud Storage, BigQuery. Logs are retained by default for 30 days 
                and max for 3650 days.
            </p>
   
        </div>

    </div>

    <div class="container7" id="6">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Debugger</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Traces</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Profiler</a>
            </nav>
        </div> 
        
        <img src="https://storage.googleapis.com/gweb-cloudblog-publish/original_images/weight.gif"/>
        <div class="text3black">
            <h3>Profiler</h3>
            <br>
            <br>
            <h2>Flame Graph</h2>
            <p>
                Presents the call hierarchy and resource consumption of the 
                relevant function in an interactive flame graph that helps developers understand which paths are most efficient and how applications process.

            </p>
     
        </div>

    </div>
 
    <div class="container8" id="3rd">

        <div class="topbox-pricing">
            <h1>Pricing</h1>
        </div>

        <div class="pricing-box-container">
            <div class="pricing-box text-center">
                <h5>Free tier</h5>
                <p class="price"><sup>$</sup>0<sub>/mo</sub></p>
                <ul class="features-list">
                    <li><strong></strong> Log Ingestion - 50gb/month</li>
                    <li><strong></strong> Log Storage - Free default retention (30 days)</li>
                    <li><strong></strong> Metrics - GCP Metrics are free</li>
                    <li><strong></strong> Trace Ingestion - First 2.5 million spans/month</li>
                
                
                </ul>
                <a href="https://cloud.google.com/stackdriver/pricing" class="btn-primary">Learn More</a>
            </div>
        
            <div class="pricing-box text-center">
                <h5>Logging</h5>

                <p class="price"><sup> Ingestion $</sup>0.50<sub>/gb</sub></p>
                <p class="price"><sup> Storage $</sup>0.01<sub>/gb</sub></p>
                <ul class="features-list">
                    <li><strong></strong>Default retention period of 30 days</li>
                    <li><strong></strong>Extended retention pricing varies</li>
                   
                    <br>
                </ul>
                <a href="https://cloud.google.com/stackdriver/pricing" class="btn-primary">Learn More</a>
            
            </div>
        
            <div class="pricing-box text-center">
                <h5>Custom Metrics</h5>
                <p class="price"><sup>Tier 1 $</sup>0.258<sub>/mb</sub></p>
                <p class="price"><sup>Tier 2 $</sup>0.151<sub>/mb</sub></p>
                <p class="price"><sup>Tier 3 $</sup>0.061<sub>/mb</sub></p>
                <ul class="features-list">
                    <li><strong></strong>Tier 1 | 150-100,000mb</li>
                    <li><strong></strong>Tier 2 | 100,000-250,000mb</li>
                    <li><strong></strong>Tier 3 | >250,000mb </li>
                    <li><strong></strong>Pricing decreases per mb as volume increases</li>
                    
                   
                </ul>
                <a href="https://cloud.google.com/stackdriver/pricing" class="btn-primary">Learn More</a>
            </div>

            <div class="pricing-box text-center">
                <h5>API Calls</h5>
                <p class="price"><sup> $</sup>0.01<sub>/1000 Read API calls</sub></p>

                <ul class="features-list">
                    <li><strong></strong>Only pay for read API calls</li>
                    <li><strong></strong>Write API calls are free</li> 
                    
                </ul>
                <a href="https://cloud.google.com/stackdriver/pricing" class="btn-primary">Learn More</a>
            </div>

            <div class="pricing-box text-center">
                <h5>Trace Ingestion</h5>
                <p class="price"><sup>$</sup>0.20<sub>/million spans</sub></p>
                <ul class="features-list">
                    <li><strong></strong>
                        When latency data is sent to Trace, 
                        it's packaged as a trace that is composed of spans, 
                        and the spans are ingested by the Cloud Trace backend.
                    </li>
                    
                    
                </ul>
                <a href="https://cloud.google.com/stackdriver/pricing" class="btn-primary">Learn More</a>
            </div>
        </div>

    </div>

    <div class="container9" id="4th">
        <video autoplay muted loop>
            <source src="{{ url_for('static', filename='GCP5.mp4') }}" type="video/mp4">
        </video>
        
        <div class="topbox">
            <h1>Why use GCP Monitor?</h1>
        </div>

        <div class="mainbox">
            <h1>
                <img class="targetlogo" style="vertical-align: middle;" src="https://feedingwestchester.org/wp-content/uploads/2018/03/TARGET.png" alt="target Logo" />
               
                "That’s elegant, simple, and adaptive. That doesn’t lock us in."
                
                <br>
                Krishnan Srinivasan, Vice President of Cloud and Compute Infrastructure Platforms - Target
            </h1>
            
            <br>
            <h1>
                <img class="kronalogo" style="vertical-align: middle;" src="https://cloud.google.com/images/customers/directory/krona_2x.png" alt="Krona Logo" />
                "When we negotiated with Google, we saw a direct financial gain so considerable that it was quickly approved by the organization’s board."
                <br>
                Sidnei Marcelo Moreira de Matos, IT Manager - Krona.
            </h1>

            <br>
            <h1>
                <img class="adeologo" style="vertical-align: top;" src="https://cloud.google.com/images/customers/directory/adeo_2x.png" alt="adeo Logo"/>
                "Using real-time monitoring enables us to follow best practices for deployment and keep our infrastructure functioning"
                <br>
                Marc Fundenberger, Senior SRE - ADEO Services
            </h1>
            
        </div>
    </div>

    <div class="container10" id="5th">
        <div class="text2">
            
            <h1> so... </h1>
            <h3>Why</h3>
            <h3>Datadog?</h3>
            <p></p>
        </div>

        <div class="ddogbox">
            <form>
                <span class="text-center2">
                    
                    <h1>Agent Installation</h1>
                    <h2> 
                        While GCP can monitor
                        both hybrid and multi-cloud environments through their agents, 
                        Datadog has more integrations.
                    </h2>
                    <br>
                    <h1>No Synthetics or RUM</h1>
                    <h2>
                        GCP does not offer any synthetics or Real User Monitoring. Limited
                        support any front-end monitoring solutions like Datadog. 
                    </h2>
                    <br>
                    <h1>Superior DevOps Communciation</h1>
                    <h2>
                        Datadog offer public invite urls which allows anyone on any team to gain
                        value from the platform. Alerts, incidents, 
                        and graphs can be shared within the platform and even across Pagerduty, Slack, ServiceNow.


                    </h2>
                    <br>
                    <h1>Unified Tagging Structure</h1>
                    <h2> 
                        GCP requires a query builder (menu selector and writing queries) to filter through logs. Datadog uses a unified tagging and facet
                        structure that seamlessly filters through logs and ties them to relevant instances or services. 
                    </h2>
                    <br>
                    <h1> Superior UI</h1>
                    <h2> GCP Monitor's dashboards and UI are nothing special. </h2>


                </span>

            </form>	
        </div>        
        

    </div>
</body>


</html>
